html{
    height:100%;
}

body{
    margin: 0 0 0 0;
    padding:0;
    background-color:#fff;
    font-family: 'Lato', sans-serif;
    height:100%;
}

h1{
    font-size:2em;
    font-weight:200;
}

h2{
    font-size:1.2em;
    font-weight:400;
}

p{
    font-family: 'Rosarivo', serif;
    font-size:0.95em;
}

.main-nav{
    background-color:#282828;
    display:inline-block;
    width:100%;
    text-align:center;
}

.main-nav ul{
    margin-top:5px;
    margin-bottom:5px;
    padding:0px;
}

.main-nav li{
    display:inline-block;
    padding:10px;
}

.main-nav ul li a{
    color:#fff;
    text-decoration:none;
    font-weight:100;
    font-size:1.5em;
}

.main-nav ul li a:hover{
    color:#ccc;
}

#site-header h1{
    font-size:6em;
    padding-top:1em;
    margin:0;
    font-weight:100;
}

#site-header {
    text-align:center;
    color:#fff;
}

#logo-banner{
    background-image:url(../img/curtain.jpg);
    background-size:cover;
    background-position:bottom;
    height:250px;
}

article{
    padding: 2em;
    max-width:900px;
    margin:0px auto;
    padding-bottom:70px;
}

article h1{
    margin: 0 0 0 0;
}

article h2{
    margin: 0 0 1em 0;
}

.left-decorate{
    float:left;
    width:8em;
    max-width:18%;
}

article ul{
    list-style:square;
}



#main-story{
    margin-left:20%;
}

.story-header{
    margin-left:20%;
}

blockquote{
    font-family:'Rosarivo', serif;
    font-style:italic;
    text-align:center;
    border:1px solid #ccc;
    padding:20px;
    margin:0px;
}
pre{
    background-color:#f1f0fd;
    padding:13px 0 0 0;
    border:1px solid #dddaff;
    white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.story-pic{
    float:left;
    width:100px;
    padding: 0px 10px 0px 0px;
}

#container{
    min-height:100%;
    position:relative;
    min-height:100%;  
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
}

@media(max-width: 575px){
    #site-header h1{
        padding-top:0;
    }
    .left-decorate{
        display:none;
    }
    .story-header{
        margin:0px;
    }
    #main-story{
        margin:0px; 
    }
    
}

@media(max-width: 380px){
    #site-header h1{
        padding-top:0.5em;
        font-size:5em;
    }
    
    
}